.Projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1;
}

.Project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 151, 151);
    border: solid rgb(9, 71, 71) 4px;
    border-radius: 8px;
    padding: 10px;
    gap: 15px;
}

.Project img {
    width: 400px;
    border-radius: 4px;
    border:#414141 solid 2px;
}