.Projects {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 98vw;
}

@media screen and (max-width: 768px) {
    .Projects {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }
  }