.HireMe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #ef76e445;
    border-radius: 18px;
    padding: 40px;
}

.HireMeDiv {
    border: solid red 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.HireMeDiv a {
    padding: 4px 8px;
    font-weight: 600;
    text-decoration: none;
    background-color: #45454545;
    border-radius: 8px;
}

.HireMeDiv a:hover {
    color: #ff40cf;
    background-color: #69696969;
    text-decoration: underline;
}