.Random {
    border: var(--color-1) solid 4px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 500px;
}

.Random p {
    border: green solid 1px;
    font-weight: 100;
    font-size: 1rem;
    color:#e0b47d
}