body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #333;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
    background-image: -webkit-linear-gradient(top,
        var(--header) 0%,
        #111 100%);
	width: 14px;
    border-radius: 100%;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #39697c 0%,
											  #235a74 100%);
}
  

.Layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
}

.HOne {
    color: var(--color-1);
    font-size: 2rem;
    font-weight: 400;
    opacity: 100%;
    padding: 20px;
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    background-color: var(--header);
    border-radius: 0px;
}


.Links {
    display: flex;
    margin: 0px 20px;
    gap: 10px;
}

.Link {
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-4);
}

.Link:hover {
    text-decoration: underline;
}

.Main {
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    pointer-events: auto;
    height: stretch;
}

.Footer {
    width: 100vw;
    height: 0px;
}

@media screen and (max-width: 768px) {
    .Header {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        /* position:fixed; */
        left: 4px;
        gap: 5px;
        border: none;
    }

    .Links {
        font-size: 20px;
        padding: 0px 0px 20px 20px;
    }

    .HOne {
        padding-bottom: 10px;
        font-size: 38px;
    }
}