.About {
  background-color: var(--paragraph-background);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 61.8vw;
    margin: 20px;
    padding: 20px;
    gap: 40px;
}

.AboutHTwo {
    color: aliceblue;
    padding-bottom: 20px;
}

.Paragraph {
    text-indent: 60px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--paragraph);
    letter-spacing: 1px;
    width: 100%;
}

.AboutLink {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-4);
    padding: 3px;
}

.AboutLink:hover {
  background-color: #333;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .About {
      width: stretch;
      margin: 20px;
    }
    .AboutHTwo {
      font-size: 20px;
    }
    .Paragraph {
      font-size: 20px;
  }
}