.Home {
        width: stretch;
        height: stretch;
        display: flex;
    }
    
    @media screen and (max-width: 768px) {
        .Home {
            flex-direction: column;
        }
    }