.AboutPage {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .AboutPage {
        flex-direction: column;
    }
}